/*********************** Home  ***********************/

h1 {
    --s: 0.1em;
    /* a espessura da linha */
    --c: #2c4bff;
    /* cor */

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

h1:hover {
    --_p: 100%
}


h1 {
    font-family: system-ui, sans-serif;
    font-size: 4rem;
    cursor: pointer;
}
.perfil {
    width: 300px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top div {
    margin-top: 10%;
}

/* mobile */
@media (min-width: 1199.98px) {
    .top div p {
        width: 750px;
        font-size: 1.2rem;
        word-break: break-word;

    }

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 135px;
    }

    .top {
        margin-bottom: 145px;
    }
}


@media (max-width: 1199.98px) {
    h1 {
        font-size: 3rem;
    }

    .top div p {
        width: 550px;
        font-size: 1rem;
        word-break: break-word;
    }

    .top {
        margin-bottom: 135px;
    }
}

@media (max-width: 991.98px) {
    h1 {
        font-size: 2rem;
    }

    .top div p {
        width: 300px;
        font-size: 1rem;
        word-break: break-word;
    }

    .container img {
        width: 300px;
    }

    .top {
        margin-bottom: 135px;
    }
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 1.5rem;
    }

    .container img {
        width: 200px;
    }

    .top {
        margin-bottom: 55px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    .container img {
        width: 130px;
    }

    .top div p {
        width: 250px;
        font-size: 8px;
        word-break: break-word;
    }

    .top {
        margin-bottom: 0px;

    }

    .top {
        margin-bottom: 35px;
    }

}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    .container img {
        width: 100px;
    }

    .top div p {
        width: 250px;
        font-size: 7px;
        word-break: break-word;
    }

    .top {
        margin-bottom: 0px;
    }

}