/*********************** Menu  ***********************/
.section-container section {
    width: 100%;
    /*   skew adiciona uma inclinação de 4,76 graus e a equação translateY é baseada no fato de que uma inclinação de 4,76 graus tem um gradiente de 1:12 */
    -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    /*   finalmente, consideramos a inclinação para garantir que cada seção ocupe toda a janela... Eu adicionei 10vw apenas para dar um pouco de preenchimento extra */
    min-height: calc(100vh - (110vw/-12));
}

.section-container section:not(:last-child) * {
    -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    -ms-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    margin-top: calc(50vw/-12);
}

.section-container section:last-child {
    position: relative;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    margin-top: calc(100vw/-12);
    padding-top: calc(100vw/12);
    min-height: 100vh;
    z-index: -1;
}

/* CORES E OUTROS ESTILOS PARA ILUSTRAR SEÇÕES */
.section-containersection:nth-child(1) {
    background-color: #2B4141;
}

.section-container section:nth-child(2) {
    background-color: #0EB1D2;
}

.section-container section:nth-child(3) {
    background-color: #34E4EA;
}

.section-container section:nth-child(4) {
    background-color: #3e6f6b;
}

.section-container section:nth-child(5) {
    background-color: #b19f63;
}

.section-container section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}



